<div ng-controller = 'roomPickController'>
	<div class ='modal' id="modal1">
		<div class= 'modal-content'>
			<form>
				<label> Category </label> <input required type = 'text' ng-model = 'newRoom.category'>
				<label> Room Name </label> <input required type = 'text' ng-model = 'newRoom.name'>
				<input class = 'btn waves-effect waves-light teal lighten-2' type = 'submit' ng-click ='addNewRoom(newRoom)'>
			</form>
		</div>
	</div>
	<h2 class ='viewbar'> Choose Room </h2>
	<button class = 'viewbar newModal-trigger btn waves-effect waves-light teal lighten-2' href= '#modal1' modal dismissible= 'true'> Add Room </button>
	<div class = 'container'>
		<div class = 'row'>
			<label>Search Rooms</label>
			<input type = 'text' ng-model = 'filter'>
			<table class = 'col s6'>
				<thead>
					<tr>
						<th> Room Name </th>
					</tr>
				</thead>
			</table>
		</div>
		<div class="row" style="height: 600px; overflow-y: scroll; white-space: nowrap;">
			<table class='col s6'>
				<tbody>
					<tr ng-repeat = 'room in rooms | filter:filter | orderBy: "name"'>
						<td>{{room.name}}</td>
						<td><button class = 'btn waves-effect waves-light teal lighten-2' ng-click = 'chooseRoom(room._id)'>Choose</button></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>