<div ng-controller = 'taskDetailsController'>
	<h2 class = 'viewbar'> {{currentTask.objective}}</h2>
	<button class="viewbar newModal-trigger btn waves-effect waves-light teal lighten-2" href="#modal1" modal dismissible= 'true'>Update Task</button>
	<hr>
	<div class ='modal' id="modal1">
		<div class= 'modal-content'>
				<form>
						<label>Objective </label>
						<input type = 'text' ng-model = 'Task.objective' ng-value = 'currentTask.objective'>
						<label for= 'inputDate'> Expiration Date </label>
							<input input-date
						    type="text"
						    name="created"
						    ng-model="Task.expiration_date"
						    container="body"
						    format="yyyy/mm/dd"
						    months-full="{{ month }}"
						    months-short="{{ monthShort }}"
						    weekdays-full="{{ weekdaysFull }}"
						    weekdays-short="{{ weekdaysShort }}"
						    weekdays-letter="{{ weekdaysLetter }}"
						    disable="disable"
						    min="{{ minDate }}"
						    max="{{ maxDate }}"
						    today="today"
						    clear="clear"
						    close="close"
						    select-years="15"
						    on-start="onStart()"
						    on-render="onRender()"
						    on-open="onOpen()"
						    on-close="onClose()"
						    on-set="onSet()"
						    on-stop="onStop()" ng-value = 'currentTask.expiration_day' />
						   	<label>Time</label>
						   	<div class= 'row'>
							    <select required material-select class = 'col s2' ng-model = 'Task.expiration_hour'>
								    <option ng-selected = 'currentTask.expiration_hour == 01 || currentTask.expiration_hour == 13' name='1' value = '01'>01</option>
								    <option ng-selected = 'currentTask.expiration_hour == 02 || currentTask.expiration_hour == 14' name='2' value = '02'>02</option>
								    <option ng-selected = 'currentTask.expiration_hour == 03 || currentTask.expiration_hour == 15' name='3' value = '03'>03</option>
								    <option  ng-selected = 'currentTask.expiration_hour == 04 || currentTask.expiration_hour == 16' name='4' value = '04'>04</option>
								    <option ng-selected = 'currentTask.expiration_hour == 05 || currentTask.expiration_hour == 17' name='5' value = '05'>05</option>
								    <option ng-selected = 'currentTask.expiration_hour == 06 || currentTask.expiration_hour == 18' name='6' value = '06'>06</option>
								    <option ng-selected = 'currentTask.expiration_hour == 07 || currentTask.expiration_hour == 19' name='7' value = '07'>07</option>
								    <option ng-selected = 'currentTask.expiration_hour == 08 || currentTask.expiration_hour == 20' name='8' value = '08'>08</option>
								    <option ng-selected = 'currentTask.expiration_hour == 09 || currentTask.expiration_hour == 21' name='9' value = '09'>09</option>
								    <option ng-selected = 'currentTask.expiration_hour == 10 || currentTask.expiration_hour == 22' name='10' value = '10'>10</option>
								    <option ng-selected = 'currentTask.expiration_hour == 11 || currentTask.expiration_hour == 23' name='11' value = '11'>11</option>
								    <option ng-selected = 'currentTask.expiration_hour == 12 || currentTask.expiration_hour == 24' name='12' value = '12'>12</option>
								</select>
							    <p class = 'col s1'> : </p>
							    <select required material-select class = 'col s2' ng-model = 'Task.expiration_minute'>
							    	<option ng-selected = 'currentTask.expiration_min == 00' name='00' value = '00'>00</option>
								    <option ng-selected = 'currentTask.expiration_min == 05' name='05' value = '05'>05</option>
								    <option ng-selected = 'currentTask.expiration_min == 10' name='10' value = '10'>10</option>
								    <option ng-selected = 'currentTask.expiration_min == 15' name='15' value = '15'>15</option>
								    <option ng-selected = 'currentTask.expiration_min == 20' name='20' value = '20'>20</option>
								    <option ng-selected = 'currentTask.expiration_min == 25' name='25' value = '25'>25</option>
								    <option ng-selected = 'currentTask.expiration_min == 30' name='30' value = '30'>30</option>
								    <option ng-selected = 'currentTask.expiration_min == 35' name='35' value = '35'>35</option>
								    <option ng-selected = 'currentTask.expiration_min == 40' name='40' value = '40'>40</option>
								    <option ng-selected = 'currentTask.expiration_min == 45' name='45' value = '45'>45</option>
								    <option ng-selected = 'currentTask.expiration_min == 50' name='50' value = '50'>50</option>
								    <option ng-selected = 'currentTask.expiration_min == 55' name='55' value = '55'>55</option>
								    <option ng-selected = 'currentTask.expiration_min == 60' name='60' value = '60'>60</option>
								</select>
							    <p class = 'col s1'> &nbsp; </p>
							    <select required material-select class = 'col s2' ng-model = 'Task.expiration_time'>
								    <option ng-selected = 'currentTask.expiration_hour < 13' name='AM' value = 'AM'>AM</option>
								    <option ng-selected = 'currentTask.expiration_hour > 12' name='PM' value = 'PM'>PM</option>
								</select>
							</div>
						<input class = 'btn waves-effect waves-light teal lighten-2'  type = 'submit' ng-click = 'updateTask(Task, currentTask)'>
				</form>
			</div>
		</div>
	<div class = 'container'>
		<button ng-click='back()' class="back btn waves-effect waves-light teal lighten-2">Back</button>
		<div class = 'row'>
			<form class = 'col s9'>
				<h5>Add Message: </h5>
				<label>Content</label> <input type = 'text' ng-model = 'message'>
				<input class = 'btn waves-effect waves-light teal lighten-2' type = 'submit' ng-click = 'addMessage(message)'>
			</form>
		</div>
		<div class= 'row'>
			<table class = 'col s6'>
				<thead>
					<tr >
						<th style='text-align: center;'> Messages </th>
					</tr>
				</thead>
			</table>
		</div>
		<div id="messageBox" class = 'row custom2' style="height: 400px; overflow-y: scroll; white-space: nowrap;">
			<table class = 'col s6'>
				<tbody>
					<tr ng-repeat = 'message in messages'>
						<td style="display: block; font-size: 0.7em; height: 10px;" ng-style="currentUser._id == message._user._id ? { 'float': 'right', 'display': 'none' } : { 'text-align' : 'left'}">{{message._user.name}}</td>
						<td style="border-radius: 20px; padding: 5px 10px; display: block; word-wrap: break-word;" ng-style="currentUser._id == message._user._id ? { 'float': 'right', 'color' : 'white', 'background-color': '#4187fd' } : { 'float' : 'left', 'margin-left' : '10px', 'background-color': 'rgb(230, 230, 230)'}">{{message.content}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>