<div ng-controller = 'allTaskController'>
	<h1>{{room.name}}</h1>
	<p ng-repeat = 'task in tasks track by $index'>{{task.objective}}<button ng-click = 'removeTask(task)'>Remove Task</button><button ng-click = 'selectTask(task)'>Select</button></p>
	<div>
		<form>
			Objective: <input type = 'text' ng-model = 'newTask.objective'>
			Expiration Date: <input type = 'datetime-local' ng-model = 'newTask.expiration_date'>
			<select multiple ng-options = 'user.name for user in users' ng-model = 'newTask.users'>
			</select>
			<input type = 'submit' ng-click = 'createTask(newTask)'>
		</form>
</div>