.launchPage {
	background: url('../img/splash_page.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	min-height: 100vh;
	position: relative;
}
.launchPage h1{
	font-size: 175pt;
	color: white;
	position: absolute;
	margin-top: 550px;
	margin-left: 500px;
}
.link {
	float:right;
	display: inline-block;
}

.modal {
	width: 450px !important;
	height: auto !important;
	overflow-y: visible !important;
}


.newModal-trigger{
	margin-left: 192px;
	margin-top: 50px;
}
.container table{
	background-color: white;
}
.row.custom {
	height: 550px;
	overflow: auto;
}
.row.custom2 {
	height: 350px;
	overflow: auto;
}
.viewbar{
	display: inline-block;
}
.back {
	float: right;
	margin-right: 24px;
	margin-top: 15px;
}
h2.viewbar{
	margin-left: 50px;
	color:black;
}
button.viewbar{
	float: right;
	margin-right: 229px;
}

td p {
	display: inline-block;
}
.notifications{
	border-radius: 5px;
	border-width: 1px;
	border-style: solid;
	border-color: black;
}
.notifications.ng-enter {
	transition: 0.5s linear all;
	opacity: 0;
}
.notifications.ng-enter.ng-enter-active{
	opacity: 1;
}
.notifications.ng-leave {
	transition: 0.5s linear all;
	opacity: 1;
}
.notifications.ng-leave.ng-leave-active {
	opacity: 0;
}

/*body{
	background-color: #BEB7A4;
}*/